MathServices/.vs/
MathServices/MathServices/bin/
MathServices/MathServices/obj/
MathServices/packages/
*.user
Common.AuditLogging/bin/
Common.AuditLogging/obj/
Common.SystemExtensions/bin/
Common.SystemExtensions/obj/
